<!DOCTYPE html>
<html>
  <head>
    <title>Becoming a Control Freak with Controllers and Promises</title>
    <link href='http://fonts.googleapis.com/css?family=Monda:400,700|PT+Sans+Caption' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/prettify.css' />

    <script type="text/javascript" src="/javascripts/lib/prettify.js"></script>
    <script type="text/javascript" src="/javascripts/lib/q.min.js"></script>
    <script type="text/javascript" src="/javascripts/lib/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/lib/underscore.min.js"></script>
    <script type="text/javascript" src="/javascripts/lib/backbone.min.js"></script>
    <script type="text/javascript" src="/javascripts/lib/fiber.min.js"></script>
    <script type="text/javascript" src="/javascripts/lib/dust-full-1.2.3.min.js"></script>
    <script type="text/javascript" src="/javascripts/lib/inject.js"></script>
    
    <script type="text/javascript" src="/javascripts/templates.js"></script>

    <script>

      //Sync dust version
      function dustSync(name, data) {
        var output;
        dust.render(name, data, function(err, out) {
          output = out;
        });
        return output;
      }

      var P = {};
      var APPGLOBALS = {};
      <% if(typeof action != 'undefined') { %>
        APPGLOBALS.action = '<%= action %>';
      <% } %>
      <% if(typeof params != 'undefined') { %>
        APPGLOBALS.params = <%- params %>;
      <% } %>
    </script>

  	<script type="text/javascript">
      Inject.reset();
      Inject.clearCache();
      Inject.setExpires(-1);
  	  Inject.setModuleRoot("/javascripts/");
      Inject.addRule(/^Base/, {
        path: function (path) {
          return '/lib/backbone/' + path + '.js';
        }
      });

  	  require.run("program");
  	</script>
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>